.rsg-grid {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.rsg-row {
  position: relative;
  height: 30px;
}

.rsg-cell {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  height: 100%;
  user-select: none;
}

.rsg-cell input {
  width: 100%;
  box-sizing: border-box;
}

.rsg-header {
  flex: none;
  position: relative;
}

.rsg-header-cell-resize {
  height: 100%;
  width: 4px;
  cursor: col-resize;
  float: right;
}

.rsg-body {
  flex: 1;
  overflow-y: auto;
}

.rsg-pagination {
  padding-left: 0;
  list-style-type: none;
}

/* .rsg-header-row {} */

/* .rsg-header-cell {} */

/* .rsg-body-cell {} */

