.RSG-grid {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.RSG-row {
  position: relative;
  height: 30px;
}

.RSG-cell {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 2px 4px;
  height: 100%;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.RSG-header {
  flex: none;
  position: relative;
}

.RSG-body {
  flex: 1;
  overflow-y: auto;
}

/* .RSG-header-row {} */

/* .RSG-header-cell {} */

/* .RSG-body-cell {} */

